@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(https://fonts.gstatic.com/s/firasans/v7/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(https://fonts.gstatic.com/s/firasans/v7/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  src: local('Alfa Slab One Regular'), local('AlfaSlabOne-Regular'), url(https://fonts.gstatic.com/s/alfaslabone/v6/Qx6FPcitRwTC_k88tLPc-QYWpCd0FFfjqwFBDnEN0bM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v9/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
  border: 1px dotted pink;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.125;
}

h2 {
  color: #fefefe;
  font-size: 2rem;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background: linear-gradient(
    rgba(20,20,20, 0.50),
    rgba(20,20,20, 0.50)),
    url('../images/hustle.jpg');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  /*background-color: blue;*/
  background-attachment: fixed;
}



.about {
  font-size: 2rem
  height: 100%;
  margin: 2rem 1rem;
}

.about h3 {
  margin: 1rem 0;
  font-weight: 500;
  font-size: 2rem;
}


.work.banner {
  background: linear-gradient(
    rgba(20,20,20, 0.50),
    rgba(20,20,20, 0.50)),
    url('../images/computer-code.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  color: #fff;
  background-attachment: fixed;
}

.project img {
  width: 100%;
  heigh: auto;
}


.img-text {
  position: relative;
  width: 100%;
}

.project-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.img-text:hover .project-text {
  visibility: visible;
  opacity: 1;
}







.contact.banner {
  background: linear-gradient(
    rgba(20,20,20, 0.50),
    rgba(20,20,20, 0.50)),
    url('../images/chicago-skyline.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  background-attachment: fixed;
}

footer {
  background-attachment: fixed;
  height: 50vh;
}

footer img {

}

@media only screen and (min-width: 480px) {

}
