@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Mono Bold'), local('FiraMono-Bold'), url(https://fonts.gstatic.com/s/firamono/v5/l24Wph3FsyKAbJ8dfExTZ-gdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  src: local('Alfa Slab One Regular'), local('AlfaSlabOne-Regular'), url(https://fonts.gstatic.com/s/alfaslabone/v6/Qx6FPcitRwTC_k88tLPc-QYWpCd0FFfjqwFBDnEN0bM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v9/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/** {
  border: 1px dotted pink;
}*/

html {
  font-size: 16px;
}

body {
  font-family: 'Fira Mono', monospace;
  line-height: 1.125;
}

.container {
  /*height: 130rem;*/
}

nav {
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

nav a {
  text-decoration: none;
  width:80%;
  text-align: center;
  padding: .5rem 0;
  margin: .25rem 0;
  border: 2px solid #fcfcfc;
  color: #fcfcfc;
}

nav a:hover {
  color: #46454D;
  background-color: #fcfcfc;
  border: 2px solid #46454D;
}

nav a:active {
  background-color: #525A88;
  color: #fcfcfc;
  border: 2px solid #fcfcfc;
}

.role {
  font-size: .75rem;
}

.hero.area {
  background-color: #46454D;
  color: #fcfcfc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.introduction {
  margin: 20rem 0 0 0;
  font-size: 3rem;
  text-align: center;
}

.name {
  font-size: 3rem;
  font-family: 'Alfa Slab One';
}

.position {
  font-size: 1.5rem;
  font-family: 'Alfa Slab One';
  margin: 1rem 0 0 0;
}

.hello {
  font-family: 'Pacifico', cursive;
  margin: 1rem 0 0 0;
}

.content-areas {
  background-color: #fff;
  margin: 0 .5rem;
}

.about {
  height: 39rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

/* project area */

.project {
  height: 10rem;
  width: 10rem;
  background-image: url('../images/coffee-mug.jpg');
  background-size: cover;
  background-position: center;
}


/* social media section*/
.social-media {
  margin: 1rem ;
  text-align: center;
}

.social-media a {
  font-size: 3rem;
  margin: 3rem 0 1rem 0;
}

footer {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: flex-end;
  color: #fcfcfc;
  /*background-image: url('../images/ferris-wheel.jpg');*/
  /*background-position: center;
  background-size: cover;*/
  background-color: #2C272D;
  height: 10rem;
  width: 100%;
  /*position: fixed;*/
  bottom: 0;
  /*z-index: -1;*/
}

footer span {
  margin-right: 3rem;
}

/*.photo-credit {

}*/

.copy-credit {
  font-size: 2rem;
}

@media only screen and (min-width: 480px) {
  nav {
    position: static;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: .25rem auto;
    max-width: 50rem;
  }

  nav a {
    margin: 0 1rem;
    color: #46454D;
    border: 2px solid #46454D;
  }

  nav a:hover {
    color: #fcfcfc;
    background-color: #46454D;
    border: 2px solid #46454D;
  }

  nav a:active {
    background-color: #525A88;
    color: #fcfcfc;
    border: 2px solid #fcfcfc;
  }

  .name {
    font-size: 5rem;
  }

  .hello {
    font-family: 'Pacifico', cursive;
    margin: 1rem 0 0 0;
  }


}
